@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
{% load static %}

body {
    background-size: cover;
    background-color: black;
}

.bg-image {
    background: url('img/img1.jpg') no-repeat center;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-size: cover;
}

#content {
    font-family: 'Shadows Into Light', Comic Sans MS, Comic Sans, cursive, sans-serif;
    text-shadow: 0 0 20px #1b1b1b;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    width: auto;
    text-align: center;
    z-index: 2;
}

#typedtext {
    color: #ffffff;
    font-size: 40px;
}

#typedauthor {
    color: #bcbcbc;
    font-size: 30px;
}
