{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inspireeriv komentaator</title>
    <meta property="og:title" content="Inspireeriv komentaator"/>
    <meta property="og:type" content="meme"/>
    <meta property="og:url" content="https://delfi-comment-inspirational.herokuapp.com/"/>
    <meta property="og:image" content="https://www.freeiconspng.com/uploads/brain-2.png"/>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css_reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript">
        async function typewriter(aText, target) {
            let sContents = '';
            await new Promise(r => setTimeout(r, 1000));
            let destination = document.getElementById(target);
            for (let i = 0; i < aText.length; i++) {
                sContents = sContents + aText[i];
                destination.innerHTML = sContents;
                await new Promise(r => setTimeout(r, 50));
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            typewriter(`{{ content }}`, "typedtext").then(() => typewriter(`{{ author }}`, "typedauthor"));
        });
    </script>
</head>
<body>
<div class="bg-image"></div>
<div id="content">
    <h3 id="article"><a href="{{ article_link }}">{{ article_name }}</a></h3>
    <div id="comment_and_author">
        <div id="typedtext"></div>
        <div id="typedauthor"></div>
    </div>
</div>
<button id="refresh_button" onClick="window.location.reload();">Inspireeri mind veel</button>
</body>
</html>
